// colours

$dark-blue: #2d36b3;
$light-blue: #1795ff;

//shadows
$product-shadow: drop-shadow(0 0 0.75rem rgba(0,0,0,0.44));

//fonts
$font-titles: 'Varela Round', sans-serif;
$font-buttons: 'Oswald', sans-serif;

