@import "_vars";

// general styling
.hidden {
    display: none;
}

// ----header

header {
    background-color: $dark_blue;
}
#logoHeader img {
    width: 49%;
    height: auto;
    padding: 5%;
}

#colourLogo {
    display: none;
}

// hamburger menu
#button {
    background-image: url(../images/bars-solid.svg);
    background-repeat: no-repeat;
    background-color: transparent;
    margin: -18% 12% 0 30%;
    position: relative;
}
  
  #mainNav {
    display: flex;
    flex-direction: column;
    margin-bottom: 5%;
    position:relative;
}
    
  #mainNav button {
    margin-left: auto;
  }
  
  #burgerCon {
    display: none;
    margin-top: 20px;
  }
    
  #burgerCon.slideToggle {
    display: block;
    background-color: rgba(0, 0, 0, 0.85);
  }
    
  #mainNav button {
    border: 0;
    width: 35px;
    height: 35px;
    transition: all 400ms ease;
  }
    
  #mainNav button.expanded {
    -webkit-transform: rotate(90deg);
    -ms-transform: rotate(90deg);
    transform: rotate(90deg);
  }
    
  #mainNav li a {
    display: block;
    color: white;
    text-align: left;
    margin: 5% 5% 0 5%;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: 700;
    font-size: 1em;
    text-decoration: none;
    cursor: pointer;
  }
  
  #burgerMenu li a:hover {
    color: $light-blue;
    transition: all 200ms ease-in-out;
  }
  
  
  #socialMediaHeader {
    display: flex;
    flex-direction: row;
    margin-top: 40%;
    margin-bottom: 5%;
  }
  
  #socialMediaHeader img {
    width: 4.5%;
    padding: 3.5%;
  }
  
  #socialMediaHeader img:first-child {
    margin-left: 12%;
  }

  #socialIcons_header {
      display: flex;
      flex-direction: row;
      width: 40%;
      padding: 5%;
      margin-left: 62%;
  }

  #socialIcons_header img {
      width: 1em;
      padding: 6%;
  }

  #infoSectionFooter {
      display: flex;
      flex-direction: column;
      padding: 5%;
      margin-left: 5%;
      margin-top: 40%;
  }

  #address {
      display: flex;
      flex-direction: row;
      padding: 2%;
      margin-left: 3%;
      margin-top: 40%;
  }

  #address i {
      font-size: 1.5em;
  }

  #address h1 {
      color: white;
      font-family: Arial, Helvetica, sans-serif;
      font-size: 0.8em;
      padding: 2%;
  }

  #phone {
    display: flex;
    flex-direction: row;
    padding: 2%;
    margin-left: 3%;
}

#phone i {
    font-size: 1.5em;
}

#phone h1 {
    color: white;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 0.8em;
    padding: 2%;
}

#email {
    display: flex;
    flex-direction: row;
    padding: 2%;
    margin-left: 3%;
}

#email i {
    font-size: 1.5em;
}

#email h1 {
    color: white;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 0.8em;
    padding: 2%;
}

#hours {
    display: flex;
    flex-direction: row;
    padding: 2%;
    margin-left: 3%;
}

#hours i {
    font-size: 1.5em;
}

#hours h1 {
    color: white;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 0.8em;
    padding: 2%;
}

  // hero title and text

  #heroHeading {
      font-family: $font-titles;
      font-size: 2em;
      color: white;
      padding: 5%;
      margin-top: -14%;
  }

  #productHero {
      width: 95%;
      margin-top: -22%;
      filter: $product-shadow;
  }

  #heroDescription {
      font-family: Arial, Helvetica, sans-serif;
      color: white;
      margin-left: 5%;
      font-size: .55em;
       width: 70%;
}

.buyNowButton {
    padding: .3em;
    border-radius: 40px;
    text-decoration: none;
    color: $dark-blue;
    font-size: 0.7em;
    background-color: white;
    width: 24%;
    margin-left: 5%;
    margin-top: 8%;
    margin-bottom: 8%;
    font-family: $font-buttons;
    font-weight: 400;
    cursor: pointer;
    filter: $product-shadow;
    border: none;
}

#featuresImage {
    background-image: url(../images/apartment_section_mobile.jpg);
    background-position: center;
    background-repeat: no-repeat;
    width: 100%;
    height: 300px;
}

#featuresSection {
    display: flex;
    flex-direction: column;
    width: 90%;
    height: auto;
    flex-wrap: wrap;
    margin-left: 10%;
}

#featuresSection p {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 0.85em;
    padding: 13%;
}

#featuresTemperature {
    display: flex;
    flex-direction: column;
    width: 85%;
    padding: 10% 10% 0 0;
}

#featuresTime {
    display: flex;
    flex-direction: column;
    width: 85%;
    padding: 10% 10% 0 0;
}

#featuresWeather {
    display: flex;
    flex-direction: column;
    width: 85%;
    padding: 10% 10% 0 0;
}

#featuresSecurity {
    display: flex;
    flex-direction: column;
    width: 85%;
    padding: 10% 10% 0 0;
}

#featuresAlexa {
    display: flex;
    flex-direction: column;
    width: 85%;
    padding: 10% 10% 0 0;
}

.fas {
    color: $dark-blue;
    font-size: 3em;
    text-align: center;
}

// security section

#securitySection img {
    width: 95%;
    height: auto;
    margin-top: 13%;
}


.mainTitles {
    font-family: $font-titles;
    margin-left: 5%;
    margin-top: 5%;
    font-size: 2em;
    color: $dark-blue;
    line-height: 1.5em;
}

.mainText {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 0.8em;
    color: black;
    margin: 5%;
    line-height: 1.3em;
    text-align: justify;
}

.mainTextCenter {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 0.8em;
    color: black;
    margin: 5%;
    line-height: 1.3em;
    text-align: justify;
}

// facial recognition

#facialRecognitionSection {
    margin-top: 40%;
    margin-bottom: 60%;
}

#facialRecognitionSection img {
    width: 51%;
    height: auto;
    transform: scaleX(-1);
    margin-left: -8%;
    margin-top: 14%;
}

.facialTitle {
    font-family: "Varela Round", sans-serif;
    margin-left: 52%;
    margin-top: -68%;
    font-size: 1.2em;
    color: #2d36b3;
    line-height: 1.5em;
    z-index: -1;
    position: absolute;
}

.facialText {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 0.8em;
    color: black;
    line-height: 1.3em;
    position: absolute;
    margin-top: -49%;
    margin-left: 52%;
    margin-right: 2%;
}

.buyNowButtonBlue {
    padding: .3em;
    border-radius: 40px;
    text-decoration: none;
    color: white;
    font-size: 0.7em;
    background-color: $dark-blue;
    width: 24%;
    margin-left: 8%;
    margin-top: 8%;
    margin-bottom: 8%;
    font-family: $font-buttons;
    font-weight: 400;
    cursor: pointer;
    filter: $product-shadow;
    border: none;
}


// alexa section

#alexaSection {
    background-color: $dark-blue;
}

#alexaIMG {
    width: 60%;
    height: auto;
    filter: $product-shadow;
    position: absolute;
    margin-top: -6%;
    margin-left: 20%;
}

.mainTitlesWhite {
    font-family: $font-titles;
    margin-left: 5%;
    margin-top: 22%;
    font-size: 1.5em;
    color: white;
    line-height: 1.5em;
    padding-top: 55%;
}

.mainTextWhite {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 0.8em;
    color: white;
    margin: 5%;
    line-height: 1.3em;
    text-align: justify;
    width: 62%;
}

#alexaLogo {
    width: 42%;
    height: auto;
    margin-left: 50%;
    margin-top: -5%;
    margin-bottom: 5%;
}

//capabilities section

#capabilitiesIMG {
    width: 60%;
    margin-left: 20%;
    margin-top: 18%;
}

#osLogos {
    display: flex;
    flex-direction: row;
    margin-left: 5%;
}

#osLogos img {
    padding: 5%;
    width: 37%;
}

#orderTodayIMG {
    width: 100%;
    margin-top: 11%;
}

.orderTodayTitle {
    font-family: $font-titles;
    margin-top: -10%;
    font-size: 2em;
    color: $dark-blue;
    line-height: 1.5em;
    text-align: center;
}

.OrderBuyNowButton {
    padding: .3em;
    border-radius: 40px;
    text-decoration: none;
    color: white;
    font-size: 0.7em;
    background-color: $dark-blue;
    width: 24%;
    margin-left: 38%;
    margin-top: 4%;
    margin-bottom: 8%;
    font-family: $font-buttons;
    font-weight: 400;
    cursor: pointer;
    filter: $product-shadow;
    border: none;
}

#boxes {
    width: 70%;
}

// Main footer mobile

#mainFooter {
    background-color: black;
    margin-top: 12%;
}

#navbarFooter {
    display: none;
}

#infoSectionFooter {
    display: none;
}

#socialMediaFooter {
    display: none;
}

#logoFooter {
    width: 49%;
    margin-left: 9%;
    margin-top: 5%;
    cursor: pointer;
}

#footerCopyrights {
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: 300;
    font-size: 0.2em;
    color: white;
    margin-top: 6%;
    padding-bottom: 3%;
}

#backToTop img {
    width: 2em;
    position: absolute;
    margin-top: -14%;
    margin-left: 80%;
}

// MOBILE ENDS

//MediaQuery for tablet (768px)
@media screen and (min-width: 48em) {
    #mainNav button {
        border: 0;
        width: 51px;
        height: 51px;
        margin-left: 87%;
    }

    #heroHeading {
        font-size: 4em;
    }

    #heroDescription {
        font-size: 1em;
        width: 59%;
    }

    .buyNowButton {
        font-size: 1em;
        width: 18%;
    }

    #featuresImage {
        height: 400px;
    }

    #featuresSection {
        display: flex;
        flex-direction: row;
    }

    #featuresTemperature {
        width: 35%;
    }

    #featuresTime {
        width: 35%;
    }

    #featuresWeather {
        width: 35%;
    }

    #featuresSecurity {
        width: 35%;
    }

    #featuresAlexa {
        width: 35%;
        margin-left: 24%;
    }

    #featuresSection {
        margin-left: 14%;
    }

    .mainTitles {
        font-size: 4em;
    }

    .mainText {
        font-size: 1em;
        width: 70%;
    }

    #facialRecognitionSection {
        margin-top: 45%;
    }

    .facialTitle {
        font-size: 2.8em;
    }

    .facialText {
        font-size: 1em;
    }

    .buyNowButtonBlue {
        font-size: 1em;
        width: 17%;
        position: absolute;
        margin-top: 56%;
        margin-left: 9%;
    }

    #alexaIMG {
        margin-top: -9%;
    }

    .mainTitlesWhite {
        font-size: 3.5em;
    }

    .mainTextWhite {
        font-size: 1em;
    }

    #alexaLogo {
        width: 33%;
        margin-top: -2%;
    }

    #osLogos {
        margin-left: 0%;
    }

    .orderTodayTitle {
        font-size: 4em;
    }

    .mainTextCenter {
        font-family: Arial, Helvetica, sans-serif;
        color: black;
        font-size: 1em;
        margin: 5%;
        line-height: 1.3em;
        text-align: justify;
        margin-left: 16%;
        width: 66%;
    }

    .OrderBuyNowButton {
        font-size: 1em;
        width: 21%;
        padding: 0.5em;
    }

    #boxes{
        margin-left: 15%;
    width: 70%;
    }

    #backToTop img {
        font-size: 2em;
    }

    #footerCopyrights {
        font-size: 0.8em;
    }

    #osLogos img {
        width: 20%;
    }

    #mainNav li a {
        font-size: 1.6em;
    }

    #burgerMenu  {
        margin-left: 2%;
        margin-top: 12%;
    }

    #address {
        margin-top: 26%;
    }
}

//MediaQuery for desktop (1024px)
@media screen and (min-width: 64em) {

    header {
        background: linear-gradient(90deg, white 50%, $dark-blue 50%);
    }

    #colourLogo {
        display: block;
        width: 25%;
        height: auto;
        padding: 4%;
    }

    #monoLogo {
        display: none;
    }
    
    #mainHeader {
        display: flex;
        margin-top: 5%;
      }
      
      #button {
        display: none;
      }
    
      #burgerCon {
        display: flex;
        flex-direction: column;
        margin: 0;
      }
    
      #mainNav {
        text-align: right;
        font-size: 0.875em;
        margin-left: auto;
        background-color: transparent;
      }
    
      #burgerMenu {
        margin-top: -9%;
        margin-right: 23%;
      }
    
      #mainNav li {
        display: inline;
        margin-left: 20px;
        border-bottom: none;
      }
    
      #mainNav li a {
        display: inline;
        text-decoration: none;
        color: white;
        font-family: Arial, Helvetica, sans-serif;
        margin: 0%;
         font-size: 0.8em;
      }

      #logoHeader img {
        width: 25%;
        height: auto;
        padding: 4%;
      }

      #infoSectionHeader {
          display: none;
      }

      #socialIcons_header {
          padding-top: 6%;
        display: flex;
        flex-direction: row;
        width: 10%;
        margin-left: 81%;
        margin-top: -8%;
      }

      #productHero {
        width: 70%;
        margin-top: 0;
        filter: drop-shadow(0 0 0.75rem rgba(0, 0, 0, 0.44));
        position: absolute;
        margin-left: 24%;
    }

    #heroHeading {
        margin-top: 6%;
        width: 30%;
        color: black;
        font-size: 3em;
    }

    #heroDescription {
        width: 30%;
        color: black;
    }

    .buyNowButton {
        width: 12%;
        background-color: $dark-blue;
        color: white;
    }

    #socialIcons_header img {
        padding: 3%;
    }

    #heroDescription {
        font-size: 0.8em;
    }

    #featuresImage {
        background-image: url(../images/apartment_section.jpg);
        background-position: left;
        background-repeat: no-repeat;
    }

    #featuresTemperature {
        width: 22%;
    }

    #featuresTime {
        width: 22%;
    }

    #featuresWeather {
        width: 22%;
    }

    #featuresAlexa {
        margin-left: 0;
    }

    #securitySection img {
        width: 66%;
        margin-top: 8%;
    }

    .mainTitles {
        font-size: 3em;
        position: absolute;
        width: 40%;
        margin-left: 60%;
        margin-top: -41%;
    }

    .mainText {
        font-size: 1em;
        width: 30%;
        margin-left: 61%;
        position: absolute;
        margin-top: -24%;
    }

    #facialRecognitionSection img {
        height: auto;
        margin-left: 40%;
        margin-top: 15%;
        transform: none;
    }

    .facialTitle {
        font-family: "Varela Round", sans-serif;
        margin-left: 9%;
        width: 36%;
        margin-top: -40%;
        color: #2d36b3;
        line-height: 1.5em;
        position: absolute;
    }

    .facialText {
        font-family: Arial, Helvetica, sans-serif;
        color: black;
        line-height: 1.3em;
        position: absolute;
        margin-top: -30%;
        margin-left: 9%;
        margin-right: 61%;
    }

    #alexaIMG {
        width: 52%;
        margin-left: -1%;
    }

    .mainTitlesWhite {
        font-family: "Varela Round", sans-serif;
        margin-left: 46%;
        color: white;
        line-height: 1.5em;
        padding-top: 12%;
    }

    .mainTextWhite {
        margin-left: 47%;
        width: 39%;
        margin-top: 3%;
    }

    .buyNowButtonBlue {
        margin-top: -10%;
        width: 13%;
    }

    #alexaLogo {
        width: 23%;
        margin-top: -2%;
        margin-left: 46%;
        margin-bottom: 3%;
    }

    #capabilitiesIMG {
        width: 70%;
        margin-left: -10%;
        margin-top: 12%;
    }

    #osLogos {
        margin-left: 59%;
        margin-top: -10%;
    }

    #boxes {
        width: 50%;
        margin-top: 15%;
    }

    #orderTodayIMG {
        width: 62%;
        margin-top: 11%;
        margin-left: 42%;
    }

    .orderTodayTitle {
        font-size: 3em;
        width: 56%;
        margin-top: -42%;
    }

    .mainTextCenter {
        font-family: Arial, Helvetica, sans-serif;
        color: black;
        font-size: 1em;
        margin: 5%;
        text-align: justify;
        margin-left: 8%;
        width: 36%;
        margin-top: 4%;
    }

    .OrderBuyNowButton {
        font-size: 1em;
        width: 15%;
        padding: 0.5em;
        margin-left: 8%;
        margin-top: 0%;
    }

    #mainFooter {
        margin-top: 5%;
    }

    #logoFooter {
        width: 29%;
        margin-left: 6%;
        margin-top: 4%;
        cursor: pointer;
    }

    #backToTop  {
        display: none;
    }

    #infoSectionFooter {
        display: flex;
        flex-direction: column;
        padding: 5%;
        margin-left: 5%;
        margin-top: 40%;
    }

    #infoSectionFooter {
        display: flex;
        flex-direction: column;
        padding: 5%;
        margin-left: 5%;
        margin-top: 40%;
    }
  
    #addressF {
        display: flex;
        flex-direction: row;
        padding: 0 2% 0 2%;
        margin-left: 3%;
        margin-top: 0%;
    }
  
    #addressF i {
        font-size: 1.5em;
    }
  
    #addressF h1 {
        color: white;
        font-family: Arial, Helvetica, sans-serif;
        font-size: 0.8em;
        padding: 2%;
    }
  
    #phoneF {
      display: flex;
      flex-direction: row;
      padding: 0 2% 0 2%;
      margin-left: 3%;
  }
  
  #phoneF i {
      font-size: 1.5em;
  }
  
  #phoneF h1 {
      color: white;
      font-family: Arial, Helvetica, sans-serif;
      font-size: 0.8em;
      padding: 2%;
  }
  
  #emailF {
      display: flex;
      flex-direction: row;
      padding: 0 2% 0 2%;
      margin-left: 3%;
  }
  
  #emailF i {
      font-size: 1.5em;
  }
  
  #emailF h1 {
      color: white;
      font-family: Arial, Helvetica, sans-serif;
      font-size: 0.8em;
      padding: 2%;
  }
  
  #hoursF {
      display: flex;
      flex-direction: row;
      padding: 0 2% 0 2%;
      margin-left: 3%;
  }
  
  #hoursF i {
      font-size: 1.5em;
  }
  
  #hoursF h1 {
      color: white;
      font-family: Arial, Helvetica, sans-serif;
      font-size: 0.8em;
      padding: 2%;
  }
  
  #infoSectionFooter {
    font-family: Arial, Helvetica, sans-serif;
      color: white;
      margin-top: 0;
      padding: 10% 5% 0 1%;
  }

  #infoSectionFooter div {
    font-family: Arial, Helvetica, sans-serif;
      color: white;
      margin-top: 0;
      display: flex;
      flex-direction: row;
  }

  #infoSectionFooter i {
      width: 5%;
    padding: 5;
  }

  .i.far.fa-clock{
    width: 5% !important;
    padding: 5 !important; 
  }



}



