<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Welcome to node with express</title>
</head>
<body>
        <ul>
            <li><a href="/contact">Contact</a></li>
            <li><a href="/">Home</a></li>
        </ul>

    <h1>You're on the contact page</h1>
    <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Sunt culpa illo, vero, totam laudantium commodi odio maxime blanditiis sapiente voluptatibus quasi ex. Eos nobis nam distinctio hic alias eius aperiam.</p>
    <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Sunt culpa illo, vero, totam laudantium commodi odio maxime blanditiis sapiente voluptatibus quasi ex. Eos nobis nam distinctio hic alias eius aperiam.</p>

</body>
</html>