<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="css/main.css">
    <title>Welcome to node with express</title>
</head>
<body>
    <h1>Node is no big thing!</h1>
    <p>some text here</p>

    {{!-- this is a placeholder tag - exress will render templates / partials here --}}

   
    
    <ul>
        <li><a href="/contact">Contact</a></li>
        <li><a href="/">Home</a></li>
        <li><a href="/users">Users</a></li>
    </ul>

    <h1>Fanshawe and its Profs</h1>
     {{{ body }}}


</body>
</html>